<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SENTIMENT ANALYSIS APP</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_1.css') }}">
</head>
<body>


    <div class="container">
        <div class="box">
            <div class="image_show">
                <a href="https://www.varconstech.com/"><img src="static/img_pool/varcons_logo.png" alt="" width="400px" height="400px"></a>
            </div>

            <div class="image_show_1">
                <div class="image_show_11">
                    <i class="fas fa-play"></i>
                    
                </div>
            </div>

            <div class="product__disc">
                <div class="product__disc--content">
                    <div class="disc__content--about">
                        <h1>SENTIMENT ANALYSIS MODEL</h1>
                        <span></span>
                        <p>Our mission is to develop state-of-the-art sentiment analysis models leveraging advanced techniques in deep learning, powered by TensorFlow and Keras. </p>
                        <br>
                        <h3>TEAM : ALPHATRIO</h3>
                        <p>LOKESH B - 1JB21CS079</p>
                        <p>LAKSHMANAN B - 1JB21CS076</p>
                        <p>NIKHIL R NAIK - 1JB21CS096</p>
                    </div>

                    <div class="product__view--more">
                        
                       
                    </div>
                </div>
            </div>

            <div class="product_buttons">
                <a href="{{ url_for('review_input') }}" class="btn check">CONTINUE TO SENTIMENT ANALYSIS</a>
                
            </div>
        </div>
    </div>



</body>
</html>
